.cl{background-color: #dfdfdf; padding: 10px 10px; box-shadow: 5px 5px 9px 9px;}
.cl p{font-size: 21px;}
.img_logo img{padding-top: 60px; margin-bottom: 10px;}
.img_logo_2{background-color: #dfdfdf; padding: 0px 20px 0px 20px;  padding-bottom: 90px;}
.cla img{box-shadow: 9px 9px 2px;}
.cla{padding: 50px 0px 50px 0px;}
.cn{background-color: #dfdfdf; padding: 50px; box-shadow: 2px 2px 9px 4px;}
h1, h3, p{color: #474747; font-family: Cambria;}
.vf img{box-shadow: 0px 8px 4px;}
.vf{box-shadow: 2px 2px 9px;}
span img{box-shadow: 2px 2px 6px;}
.kld img{box-shadow: 2px 0px 10px 10px;}
.kld{padding-bottom: 60px;}
.bgh{background-color: #dfdfdf; padding: 40px; box-shadow: 2px 2px 9px 6px;}
.lp{padding: 10px 0px 0px 15px;}
.col-lg-9 a{color: #838cff;}
.col-lg-9 a:hover{color: #0012ff; text-decoration: none;}
.cla button{margin-top: 30px; padding: 5px 40px 5px 40px; }