.boxs{background-color: #ffffff; }
.b{background-image: url(../img/1533563052_kartinka-dlya-shapki-sayta-zima-53153233.jpg); 
background-repeat: no-repeat; background-size: cover; background-position: center;}
.img{padding: 10em 0em 10em 0em;}
.ols, .lkj{padding: 2em 1em;}
.boxs img{padding: 5px 2px; opacity: .6;}
.lkj a{color: #954646;}
.lkj a:hover{color: #ff1800; text-decoration: none;}
.ku{background-color: #f6f6f6; margin-top: 30px;}
h2{opacity: .6;}
.a{background-color: #f6f6f6;}